nav{
    background-color: rgb(26, 89, 114);
    height: 100px;
    text-align: center;
 

}

.menu{
    text-align: center;
    left: 80px;
}
li{
list-style-type:none;
width: 200px;
float: left;
}
.menu ul{
    display: inline-flex;
}

li a{
    text-decoration: none;
    color: white;
}
.menu ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu ul li a{
    text-decoration: none;
    color:white;

}
.sidebar{
   
    color: black;
    height: 100%;
    border-bottom: none;
    border: none;
}
.sidebar a{
    margin-left: 10px;
    display:block;
    color:white;
    padding: bottom -10px;
    font-size: 20px;
    text-decoration: none;
    border-bottom: none;
    border: none;
    
}
.card{
    position:relative;
    display:flex;
    flex-direction:coloumn;
    border-bottom: none;
    border: none;

}
img{
    border-radius: 50%;
}
.menu ul li:hover
{
 background: rgb(97, 189, 218);
 border-radius: 30px;
}
.sub1{
    display: none;
}
.sub1 li{
    float: left;
    width: 25%;
}
.menu ul li:hover .sub1{
    display: block;
    position:absolute;
    background: rgb(97, 189, 218);
    border-radius: 30px;
    margin-top: 15px;
    margin-left: 15px;
}
.menu ul li:hover .sub1 ul{
    display: block;
    margin: 10px;
}
.menu ul li:hover .sub1 ul li{
    width: 150px;
    padding:10px;
    border-right:1px dotted black;
    background: transparent;
    border-radius: 0;
    text-align: left;

}
.menu ul li:hover .sub1 ul li:last-child{
    border-right: none;
}
#bt
{
    border-radius: 5px;
    padding: 5px;
    margin: auto;
}
