<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'css/new.css' %}" rel="stylesheet">
</head>
<body>
  <nav>
    <div class="menu">
    <ul>
        <li class="awards"><a href='#'>Awards</a></li>
        <li><a href='#'>Papers/Patents</a>
          <div class="sub1">
          <ul>
            <li><a href='Papers.html'>Papers</a></li>
            <li><a href='Patents.html'>Patents</a></li>
          </ul>
          </div>
        </li>
        <li><a href='#'>Funds Received</a></li>
        <li><a href='#'>Other Noteworthy Activity</a></li>
        <button id="bt" type="submit"><a style="margin: 15px;" href="Loginpage.html">Logout</a></button>
    </ul>
  </div>
   </nav>
   <div class="sidebar">
   <div class="row">
  <div class="card-body">
   <img src="{% static 'images/image.jpeg' %}" class="rounded circle" width=150>
  </div> 
</div> 
  <div class="card-body">
    <div class="row">
    
      <div class="col-md-3">
          <h5>Faculty name</h5>
      </div>
      <div class="col-md-text-secondary">
          xyz
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <h5>Designation</h5>
        </div>
        <div class="col-md-text-secondary">
            Professor
        </div>
      </div>
    
    <div class="row">
        <div class="col-md-3">
            <h5>Employee id</h5>
        </div>
        <div class="col-md-text-secondary">
            empid1234
        </div>
      </div>
    
    <div class="row">
        <div class="col-md-3">
            <h5>Mail</h5>
        </div>
        <div class="col-md-text-secondary">
           abc@gmail.com
        </div>
      </div>
    <div class="row">
        <div class="col-md-3">
            <h5>Contact No</h5>
        </div>
        <div class="col-md-text-secondary">
            1234567890
        </div>
      </div>
    <div class="row">
        <div class="col-md-3">
            <h5>Date of Joining</h5>
        </div>
        <div class="col-md-text-secondary">
            01/01/2000
        </div>
      </div>
</div>
</div>
  

</body>
</html>